@model IEnumerable<CrudUsingSp.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAll</title>
</head>
<body>

    @using (Html.BeginForm("Search", "Product", FormMethod.Get)) 
    { 
       <div class="row">
           <div class="col-md-12">
               <div class="form-group">
                   <div class="input-group">
                       <span class="input-group-btn">
                           <label>Search: </label>
                           <input type="text" class="form-control" id="search" name="search" />
                           <input type="submit" value="Search" class="btn btn-success" />
                       </span>
                   </div>
               </div>
           </div>
       </div>      
    }


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
